p {
    color: rgb(248, 240, 240);
    background-color: rgb(125, 186, 201);
    font-family: Arial;
    text-align: left;
    border: 1px solid black;
margin: 0px;
padding: 10px;
    }

    .main-heading {
        color:rgb(125, 186, 201);
        font-family: Arial;
        font-size: 2em;
    line-height: 1.6em;
        }